ol ol,
ol ul,
ul ol,
ul ul {
  margin-left: 0rem;
  margin-bottom: 0;
  list-style-type: inherit;
}

/*start Frame image css*/

.fullWidth {
  width: 100%;
  /*  margin-left: auto;
  margin-right: auto;*/
  max-width: initial;
  /*  background-color:#2F2F2F;
   padding-top:20px;
   padding-bottom:100px;
   color:#FFFFFF;*/
}

.frameCatImage {
  height: 40px;
  display: table;
  width: 100%;
  text-align: center;
  padding: 0px;
  overflow: hidden;
}
.helperCatImage {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  height: 40px;
  background: #ffffff;
  /*   background: #ffffff;*/
}
.frameCatImage > span > img {
  vertical-align: middle;
  display: inline-block !important;
  width: auto !important;
  max-height: 100%;
  max-width: 100%;
  /*   -webkit-transition: 0.20s ease;
  transition: 0.6s ease;*/
}
.frameSlider {
  height: 73px;
  display: table;
  width: 100%;
  text-align: center;
  padding: 0px;
  overflow: hidden;
}
.helperSlider {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  height: 100px;
  background: #ffffff;
}
.frameSlider > span > img {
  vertical-align: middle;
  display: inline-block !important;
  width: auto !important;
  max-height: 100%;
  max-width: 100%;
  -webkit-transition: 0.2s ease;
  transition: 0.6s ease;
}
.frameSlider > span > img:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.frameSliderBig {
  /* height: 274px;*/
  height: 315px;
  display: table;
  width: 100%;
  text-align: center;
  padding: 0px;
  overflow: hidden;
}
.helperSliderBig {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  /*height: 274px;*/
  height: 320px;
  /*background: #ddd;*/
}
.frameSliderBig > span > img {
  vertical-align: middle;
  display: inline-block !important;
  width: auto !important;
  max-height: 100%;
  max-width: 100%;
  -webkit-transition: 0.2s ease;
  transition: 0.6s ease;
}
/*.frameSliderBig > span > img:hover {*/
/*  -webkit-transform: scale(1.2);*/
/*  transform: scale(1.2);*/
/*}*/
.frameHotDeal {
  /*height: 198px;*/
  /*height: 150px;*/
  height: 100px;

  display: table;
  width: 100%;
  text-align: center;
  padding: 0px;
  overflow: hidden;
}
.helperHotDeal {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  /* height: 198px;*/
  /*height: 150px;*/
  height: 100px;
  background: #ffffff;
}
.frameHotDeal > span > img {
  vertical-align: middle;
  display: inline-block !important;
  width: auto !important;
  max-height: 100%;
  max-width: 100%;
  -webkit-transition: 0.2s ease;
  transition: 0.6s ease;
}
.frameHotDeal > span > img:hover {
  -webkit-transform: scale(1.21);
  transform: scale(1.2);
}
.frameTopSelection {
  height: 115px;
  display: table;
  width: 100%;
  text-align: center;
  padding: 0px;
  overflow: hidden;
}
.helperframeTopSelection {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  height: 115px;
  background: #ffffff;
}
.frameTopSelection > span > img {
  vertical-align: middle;
  display: inline-block !important;
  width: auto !important;
  max-height: 100%;
  max-width: 100%;
  -webkit-transition: 0.2s ease;
  transition: 0.6s ease;
}
.frameTopSelection > span > img:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
.frameFeatureBand {
  height: 140px;
  display: table;
  width: 100%;
  text-align: center;
  padding: 0px;
  overflow: hidden;
}
.helperframeFeatureBand {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  height: 140px;
  background: #ffffff;
}
.frameFeatureBand > span > img {
  vertical-align: middle;
  display: inline-block !important;
  width: auto !important;
  max-height: 100%;
  max-width: 100%;
  -webkit-transition: 0.2s ease;
  transition: 0.6s ease;
}
.frameFeatureBand > span > img:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
.frameFeatureCat {
  height: 167px;
  display: table;
  width: 100%;
  text-align: center;
  padding: 0px;
  overflow: hidden;
}
.helperframeFeatureCat {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  height: 167px;
  background: #ffffff;
}
.frameFeatureCat > span > img {
  vertical-align: middle;
  display: inline-block !important;
  /* width: auto !important;*/
  width: 100%;
  max-height: 100%;
  max-width: 100%;
  -webkit-transition: 0.2s ease;
  transition: 0.6s ease;
}
.frameFeatureCat > span > img:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
.frameFeatureCatSm {
  height: 70px;
  display: table;
  width: 100%;
  text-align: center;
  padding: 0px;
  overflow: hidden;
}
.helperframeFeatureCatSm {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  height: 70px;
  background: #ffffff;
}
.frameFeatureCatSm > span > img {
  vertical-align: middle;
  display: inline-block !important;
  width: auto !important;
  max-height: 100%;
  max-width: 100%;
  -webkit-transition: 0.2s ease;
  transition: 0.6s ease;
}
.frameFeatureCatSm > span > img:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
.frameMore {
  height: 176px;
  display: table;
  width: 100%;
  text-align: center;
  padding: 0px;
  overflow: hidden;
}
.helperframeMore {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  height: 176px;
  background: #ffffff;
}
.frameMore > span > img {
  vertical-align: middle;
  display: inline-block !important;
  width: auto !important;
  max-height: 100%;
  max-width: 100%;
  -webkit-transition: 0.2s ease;
  transition: 0.6s ease;
}
.frameMore > span > img:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

/*End Frame image css*/

/*
start footer css*/

.context-dark,
.bg-gray-dark,
.bg-primary {
  color: rgba(255, 255, 255, 0.8);
}
.footer-classic a,
.footer-classic a:focus,
.footer-classic a:active {
  color: #ffffff;
}
.nav-list li {
  padding-top: 5px;
  padding-bottom: 5px;
}
.nav-list li a:hover:before {
  margin-left: 0;
  opacity: 1;
  visibility: visible;
}
ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}
.social-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 23px;
  font: 900 13px/1 'Lato', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, sans-serif;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.5);
}
.social-container .col {
  border: 1px solid rgba(255, 255, 255, 0.1);
}
.nav-list li a:before {
  content: '\f14f';
  font: 400 21px/1 'Material Design Icons';
  color: #4d6de6;
  display: inline-block;
  vertical-align: baseline;
  margin-left: -28px;
  margin-right: 7px;
  opacity: 0;
  visibility: hidden;
  transition: 0.22s ease;
}
.site-footer .sf-download-app {
  padding: 10px 0 40px;
  float: left;
}
.site-footer .sf-download-app a {
  position: relative;
  display: inline-block;
  padding: 0 10px 0 30px;
  margin-right: 10px;
  line-height: 30px;
  background-color: #a4c739;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  border-radius: 3px;
}

/*
End footer css*/

* {
  box-sizing: border-box;
}
/* style the container */
/* style inputs and link buttons */
input,
.btn {
  width: 100%;
  padding: 5px;
  border: none;
  border-radius: 4px;
  margin: 5px 0;
  opacity: 0.85;
  display: inline-block;
  font-size: 13px;
  line-height: 18px;
  text-decoration: none;
  /* remove underline from anchors */
}
input:hover,
.btn:hover {
  opacity: 1;
}
/* add appropriate colors to fb, twitter and google buttons */
.fb {
  background-color: #3b5998;
  color: white;
}
.twitter {
  background-color: #55acee;
  color: white;
}
.google {
  background-color: #dd4b39;
  color: white;
}

/*menu css start*/
.menu > li > a {
  display: block;
  padding: 0.7rem 1rem;
  color: black;
  line-height: 1;
}
.ex1 {
  border: 2px solid #eb1c22;
}
.ex1:hover {
  color: #eb1c22;
}

.frameProductImg {
  height: 247px;
  display: table;
  width: 100%;
  text-align: center;
  padding: 0px;
}
.helperProductImg {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  height: 247px;
  background: #ffffff;
}
.frameProductImg > span > img {
  vertical-align: middle;
  display: inline-block !important;
  width: auto !important;
  max-height: 100%;
  max-width: 100%;
}

.frameZoomSlider {
  height: 73px;
  display: table;
  width: 100%;
  text-align: center;
  padding: 0px;
  overflow: hidden;
}
.helperZoomSlider {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  height: 120px;
  background: #ffffff;
}
.frameZoomSlider > span > img {
  vertical-align: middle;
  display: inline-block !important;
  width: auto !important;
  max-height: 100%;
  max-width: 100%;
  -webkit-transition: 0.2s ease;
  transition: 0.6s ease;
}
.frameZoomSlider > span > img:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

/*
  .frameProductImg {
    height: 247px;
    width: auto;
    border: 1px solid red;
    white-space: nowrap;

    text-align: center; margin: 1em 0;
  }

  .helperProductImg {
    display: inline-block;
    height: 247px;
    vertical-align: middle;
  }

  img {
    background: #3A6F9A;
    vertical-align: middle;
    max-height: 247px;
    max-width: auto;
    }*/
